.color-palet{
--denim: #1072a5;
--curious-blue: #2096ce;
--hippie-blue: #5f9ab5;
--eastern-blue: #1c8dc1;
--atoll: #0e5981;
--steel-blue: #3e85a2;
--chathams-blue: #134b66;
--venice-blue: #094b78;
--curious-blue: #28a4d6;
}