/* CSS HEX */

--denim: #1072a5;
--curious-blue: #2096ce;
--hippie-blue: #5f9ab5;
--eastern-blue: #1c8dc1;
--atoll: #0e5981;
--steel-blue: #3e85a2;
--chathams-blue: #134b66;
--venice-blue: #094b78;
--curious-blue: #28a4d6;


/* SCSS RGB */
--denim: rgba(16,114,165,1);
--curious-blue: rgba(32,150,206,1);
--hippie-blue: rgba(95,154,181,1);
--eastern-blue: rgba(28,141,193,1);
--atoll: rgba(14,89,129,1);
--steel-blue: rgba(62,133,162,1);
--chathams-blue: rgba(19,75,102,1);
--venice-blue: rgba(9,75,120,1);
--curious-blue: rgba(40,164,214,1);


